* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #757070;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
    color: #2c3e50;
    font-size: 24px;
    width: 100%;
}

.zones-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.zone {
    background-color: #e2c4c4;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #d1d1d1;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.zone h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #2c3e50;
    text-align: center;
}

.zone p {
    font-size: 18px;
    margin: 8px 0;
    color: #555;
}

.zone p span {
    font-weight: bold;
}

.yellow-state {
    color: #08e80f !important; /* Зелений для "On"/"Open" */
}

.red-state {
    color: #ff0000 !important; /* Червоний для "Off"/"Closed" */
}

.temperature-state {
    color: #e8ac06 !important; /* Насичений жовтий для температури */
}

.controls-header {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.controls-container {
    width: 100%;
    background-color: #edd0d0;
    padding: 30px;
    border-radius: 5px;
    border: 1px solid #d1d1d1;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    gap: 120px;
}

.control-section {
    flex: 1;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
    text-align: center;
}

.control-section:last-child {
    border-bottom: none;
}

.control-section h3 {
    font-size: 18px;
    color: #2c3e50;
    margin-bottom: 15px;
    text-align: center;
}

.control-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
    justify-content: center;
}

.control-group span {
    font-size: 16px;
    color: #555;
    margin-right: 10px;
}

button {
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: background-color 0.7s;
    width: 100px;
    text-align: center;
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.7;
}

#zone-1-light-on, #zone-2-light-on, #zone-3-light-on, #zone-4-light-on,
#zone-1-window-open, #zone-2-window-open, #zone-1-tv-on {
    background-color: #2ecc71;
}

#zone-1-light-off, #zone-2-light-off, #zone-3-light-off, #zone-4-light-off,
#zone-1-window-close, #zone-2-window-close, #zone-1-tv-off {
    background-color: #3498db;
}

.log-container {
    width: 100%;
    background-color: #f9d7d7;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #d1d1d1;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    margin-top: 20px;
}

.log-container h2 {
    font-size: 20px;
    color: #2c3e50;
    margin-bottom: 10px;
    text-align: center;
}

.log-content {
    max-height: 150px;
    overflow-y: auto;
    font-size: 16px;
    color: #333;
}

@media (max-width: 768px) {
    .zones-container {
        grid-template-columns: 1fr;
    }

    .controls-container {
        flex-direction: column;
        gap: 20px;
    }

    .control-section {
        margin-bottom: 20px;
    }

    .log-container {
        margin-top: 10px;
    }
}